In [2]:
# Render our plots inline
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
pd.set_option('mode.chained_assignment', None)

In [3]:
log_file = pd.read_csv('log11-18.csv')

In [4]:
log_file[:3]

,Unnamed: 0,id,timestamp,sid,event,act,div_id,course_id,base_course
0,0,1760,2017-08-13 20:23:59,301304554400186198747097533764849583054@208.15...,page,view,index.html,47.0,apcsareview
1,1,1778,2017-08-13 23:14:25,del1,page,view,index.html,29.0,apcsareview
2,2,1779,2017-08-13 23:17:48,del1,page,view,VariableBasics/operators.html,29.0,apcsareview

In [5]:
log_file = log_file.loc[log_file['base_course'].str.startswith('StudentCSP', na=False)]

In [6]:
pretest_logs = log_file.loc[log_file['div_id'].str.startswith('pre_', na=False)]

In [7]:
pretest_logs['pretest_score'] = np.where(pretest_logs['act'].str.endswith('correct', na=False), 1, 0)

In [8]:
pretest_logs.head()

,Unnamed: 0,id,timestamp,sid,event,act,div_id,course_id,base_course,pretest_score
305,305,10247,2017-08-18 20:42:42,271926861551350033289774502469454480334@146.16...,mChoice,answer:1:correct,pre_1,213.0,StudentCSP,1
306,306,10248,2017-08-18 20:42:42,271926861551350033289774502469454480334@146.16...,mChoice,answer:2:correct,pre_7,213.0,StudentCSP,1
307,307,10249,2017-08-18 20:42:43,271926861551350033289774502469454480334@146.16...,mChoice,answer:0:no,pre_5,213.0,StudentCSP,0
308,308,10250,2017-08-18 20:42:43,271926861551350033289774502469454480334@146.16...,mChoice,answer:0:no,pre_4,213.0,StudentCSP,0
309,309,10251,2017-08-18 20:42:43,271926861551350033289774502469454480334@146.16...,mChoice,answer:2:correct,pre_6,213.0,StudentCSP,1

In [10]:
#Interesting case of repeated logs, look also for 10 who has skipped a whole test and answered another one
# pretest_logs.loc[pretest_logs['sid'] == '116558589813929226898517399943430489038@137.205.1.152']
# if we wanted to have skippers vs not skippers
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.DataFrameGroupBy.filter.html
# pretest_logs['skipped'] = np.where(pretest_logs['act'].str.endswith('answer:undefined:no', na=False), True, False)
# pretest_logs['not_skipped'] = np.where(pretest_logs['act'].str.endswith('answer:undefined:no', na=False), False, True)
# student_scores_g = pretest_logs.groupby(['sid'])
# skippers = student_scores_g.filter(lambda x: x['skipped'].any())
# non_skippers = student_scores_g.filter(lambda x: x['not_skipped'].all())
# skippers_unique_scores = skippers.groupby(['sid','div_id'])['pretest_score'].min().reset_index()
# non_skippers_unique_scores = non_skippers.groupby(['sid','div_id'])['pretest_score'].min().reset_index()
# non_skipper_score_sum = non_skippers_unique_scores.groupby(['sid'])['pretest_score'].sum().reset_index()
# skipper_score_sum = skippers_unique_scores.groupby(['sid'])['pretest_score'].sum().reset_index()
# [non_skipper_score_sum.size, skipper_score_sum.size]

In [50]:
# Create groups of pretest scores by students
students_unique_scores = pretest_logs.groupby(['sid','div_id'])['pretest_score'].min().reset_index()
s_total_score = students_unique_scores.groupby(['sid'])['pretest_score'].sum().reset_index()
score_groups = {}
group_scores = [6,12]
for score in group_scores:
    score_groups[score] = s_total_score["sid"][(s_total_score["pretest_score"] >= score - 6) & (s_total_score["pretest_score"]  < score)]
not_pre_test = set(log_file["sid"])
for score in group_scores:
     not_pre_test = not_pre_test - set(score_groups[score])
group_scores.append('no_pretest')
score_groups['no_pretest'] = pd.Series(list(not_pre_test))

In [48]:
#examns
exams_logs = log_file.loc[log_file['div_id'].str.startswith('e24', na=False)]

In [55]:
exams_logs['exam_name'] = exams_logs['div_id'].str.split('_').str[1]
exams_logs['exam_score'] = np.where(exams_logs['act'].str.endswith('correct', na=False), 1, 0)
exams_logs_unique_scores = exams_logs.groupby(['sid','div_id','exam_name'])['exam_score'].min().reset_index()
e_total_score = exams_logs_unique_scores.groupby(['exam_name','sid'])['exam_score'].sum().reset_index()
exam_names = ['1','2','3','4']
exam_score_groups = {}
exam_group_scores = [6,12]
for e_name in exam_names:
    for e_score in exam_group_scores:
        exam_score_groups[e_name, e_score] = e_total_score["sid"][(e_total_score["exam_score"] >= e_score - 6) 
                                                         & (e_total_score["exam_score"]  < e_score)
                                                         & e_total_score["exam_name"].str.startswith(e_name, na=False)]
not_exams = set(log_file["sid"])
for e_name in exam_names:
    for e_score in exam_group_scores:
        not_exams = not_exams - set(exam_score_groups[e_name, e_score])
exam_names.append('no_exam')
exam_score_groups['no_exam', 6] = pd.Series(list(not_exams))
exam_score_groups['no_exam', 12] = []

In [52]:
#parsons
parsons_logs = log_file.loc[log_file['event'].str.endswith('parsons', na=False)
                            # only the div that has a number should be included
                            & log_file['div_id'].str.match('[0-9]*_', na=False)
                           ]
parsons_logs['parsons_score'] = np.where(parsons_logs['act'].str.startswith('correct', na=False), 1, 0)
parsons_logs_unique_scores = parsons_logs.groupby(['sid','div_id'])['parsons_score'].min().reset_index()

In [57]:
parsons_logs['parsons_chapter'] = parsons_logs['div_id']
                                    #.str.split('_').str[0]

In [60]:
p_score_groups = {}
for e_name in exam_names:
    for e_score in exam_group_scores:
        for score in group_scores:
            p_score_groups[score,e_name, e_score] = parsons_logs_unique_scores[ parsons_logs_unique_scores['sid'].isin(score_groups[score])
                                                              & parsons_logs_unique_scores['sid'].isin(exam_score_groups[e_name, e_score])
                                                              ]
p_score_totals = {}
for e_name in exam_names:
    for e_score in exam_group_scores:
        for score in group_scores:
            p_score_totals[score,e_name, e_score] =  p_score_groups[score,e_name, e_score].groupby('parsons_chapter')['parsons_score'].agg(['sum','count']).reset_index()

KeyError: 'parsons_chapter'

In [59]:
parsons_logs

,Unnamed: 0,id,timestamp,sid,event,act,div_id,course_id,base_course,parsons_score,parsons_chapter
62,62,3159,2017-08-15 20:11:13,253168550798920145559199460531621807054@207.25...,parsons,incorrect|1_0-0_0-11_0-6_7_0-12_0-5_0-4_0-10_0...,5_2_1_DrawZ,213.0,StudentCSP,0,5
269,269,7778,2017-08-17 20:47:14,6,parsons,incorrect|7_0-2_0-9_0-5_0|0_0-1_0-8_0-3_0-4_0-...,5_1_2_Turtle_Check,213.0,StudentCSP,0,5
271,271,7780,2017-08-17 20:47:16,6,parsons,incorrect|7_0-2_0-9_0-5_0|0_0-1_0-6_0-8_0-3_0-...,5_1_2_Turtle_Check,213.0,StudentCSP,0,5
273,273,7782,2017-08-17 20:47:19,6,parsons,incorrect|7_0-2_0-9_0-5_0|0_0-1_0-6_0-3_0-8_0-...,5_1_2_Turtle_Check,213.0,StudentCSP,0,5
283,283,7792,2017-08-17 20:47:53,6,parsons,correct|7_0-3_0-9_0-5_0|0_1_2_0-4_6_0-8_10_0|d...,5_1_2_Turtle_Check,213.0,StudentCSP,1,5
1917,1917,20369,2017-08-22 05:52:09,del5,parsons,incorrect|-|0_1_2_0-5_1-4_0-3_1-6_0-7_8_9_0,12_3_2_Price_By_Weight,213.0,StudentCSP,0,12
1919,1919,20371,2017-08-22 05:53:39,del5,parsons,incorrect|-|0_1_2_0-5_1-3_1-4_0-6_0-7_8_9_0,12_3_2_Price_By_Weight,213.0,StudentCSP,0,12
1921,1921,20373,2017-08-22 05:53:43,del5,parsons,incorrect|-|0_1_2_0-5_1-4_0-3_0-6_0-7_8_9_0,12_3_2_Price_By_Weight,213.0,StudentCSP,0,12
1923,1923,20375,2017-08-22 05:53:47,del5,parsons,incorrect|-|0_1_2_0-5_1-4_0-3_1-6_0-7_8_9_0,12_3_2_Price_By_Weight,213.0,StudentCSP,0,12
2039,2039,21660,2017-08-22 14:59:03,6,parsons,incorrect|4_0-9_0-7_0-2_0|5_0-0_0-8_0-6_0-1_0-...,5_1_2_Turtle_Check,213.0,StudentCSP,0,5
2041,2041,21662,2017-08-22 14:59:06,6,parsons,incorrect|4_0-9_0-7_0-2_0|5_0-0_0-8_0-6_0-3_0-...,5_1_2_Turtle_Check,213.0,StudentCSP,0,5
2043,2043,21665,2017-08-22 14:59:08,6,parsons,incorrect|4_0-9_0-7_0-2_0|5_0-0_0-8_0-1_0-6_0-...,5_1_2_Turtle_Check,213.0,StudentCSP,0,5
2067,2067,21727,2017-08-22 15:02:44,6,parsons,correct|12_0-7_0-5_0-9_0|0_1_2_0-3_0-4_0-6_0-8...,10_4_1_turtle-stamp,213.0,StudentCSP,1,10
2077,2077,21746,2017-08-22 15:03:16,6,parsons,incorrect|12_0-9_0-7_0-5_0|0_1_2_0-3_0-4_0-6_0...,10_4_1_turtle-stamp,213.0,StudentCSP,0,10
6866,6866,42679,2017-08-24 02:36:29,68,parsons,incorrect|5_6_0-3_4_0-0_1_2_0-7_8_0|-,3_6_1_Ketchup_Speed,16.0,StudentCSP,0,3
6875,6875,42699,2017-08-24 02:37:06,68,parsons,incorrect|-|3_4_1-5_6_1-0_1_2_1-7_8_1,3_6_1_Ketchup_Speed,16.0,StudentCSP,0,3
6878,6878,42704,2017-08-24 02:37:09,68,parsons,incorrect|-|3_4_1-0_1_2_1-5_6_1-7_8_1,3_6_1_Ketchup_Speed,16.0,StudentCSP,0,3
6880,6880,42707,2017-08-24 02:37:11,68,parsons,incorrect|-|0_1_2_1-3_4_1-5_6_1-7_8_1,3_6_1_Ketchup_Speed,16.0,StudentCSP,0,3
6881,6881,42709,2017-08-24 02:37:13,68,parsons,incorrect|-|0_1_2_1-3_4_1-5_6_1-7_8_1,3_6_1_Ketchup_Speed,16.0,StudentCSP,0,3
6885,6885,42717,2017-08-24 02:37:22,68,parsons,incorrect|-|0_1_2_1-3_4_1-5_6_1-7_8_0,3_6_1_Ketchup_Speed,16.0,StudentCSP,0,3
6889,6889,42721,2017-08-24 02:37:25,68,parsons,incorrect|-|0_1_2_0-3_4_1-5_6_1-7_8_1,3_6_1_Ketchup_Speed,16.0,StudentCSP,0,3
6891,6891,42723,2017-08-24 02:37:28,68,parsons,incorrect|-|0_1_2_0-3_4_0-5_6_1-7_8_1,3_6_1_Ketchup_Speed,16.0,StudentCSP,0,3
6893,6893,42725,2017-08-24 02:37:29,68,parsons,incorrect|-|0_1_2_0-3_4_0-5_6_0-7_8_1,3_6_1_Ketchup_Speed,16.0,StudentCSP,0,3
6896,6896,42728,2017-08-24 02:37:31,68,parsons,correct|-|0_1_2_0-3_4_0-5_6_0-7_8_0,3_6_1_Ketchup_Speed,16.0,StudentCSP,1,3
6904,6904,42738,2017-08-24 02:37:45,68,parsons,correct|-|0_1_2_0-3_4_0-5_6_0-7_8_0,3_6_1_Ketchup_Speed,16.0,StudentCSP,1,3
6927,6927,42769,2017-08-24 02:38:41,68,parsons,correct|-|0_0-1_0-2_0-3_4_0-5_0,3_7_4_Per_Person_Cost,16.0,StudentCSP,1,3
7472,7472,48257,2017-08-24 15:21:41,6,parsons,incorrect|7_0-4_0-3_0|9_0-6_0-5_0-2_0-10_0-1_0...,5_1_2_Turtle_Check,213.0,StudentCSP,0,5
7474,7474,48259,2017-08-24 15:21:44,6,parsons,incorrect|7_0-4_0-3_0|9_0-6_0-5_0-2_0-0_0-10_0...,5_1_2_Turtle_Check,213.0,StudentCSP,0,5
7477,7477,48262,2017-08-24 15:21:45,6,parsons,incorrect|7_0-4_0-3_0|9_0-6_0-5_0-2_0-8_0-0_0-...,5_1_2_Turtle_Check,213.0,StudentCSP,0,5
8236,8236,51378,2017-08-24 17:20:45,6,parsons,incorrect|5_0|6_0-2_0-8_0-4_0-0_0-10_0-1_0|c1,5_1_2_Turtle_Check,213.0,StudentCSP,0,5
...,...,...,...,...,...,...,...,...,...,...,...
6993962,7003310,29308483,2018-10-31 18:18:29,del580,parsons,correct|-|0_0-1_0-2_1-3_1,8_3_3_While_Countdown,6.0,StudentCSP,1,8
6993969,7003317,29308529,2018-10-31 18:18:48,del580,parsons,correct|4_0|0_0-1_0-2_1-3_1,8_2_4_While_Count_Even,6.0,StudentCSP,1,8
6997789,7007137,29315773,2018-10-31 18:41:51,7494,parsons,incorrect|-|0_1_2_3_0-6_0-4_1-5_1-7_0,9_4_3_Decode_String,43.0,StudentCSP,0,9
6997799,7007147,29315787,2018-10-31 18:41:54,7494,parsons,incorrect|-|0_1_2_3_0-6_0-5_0-4_1-7_0,9_4_3_Decode_String,43.0,StudentCSP,0,9
6997810,7007158,29315802,2018-10-31 18:41:58,7494,parsons,incorrect|-|0_1_2_3_0-6_0-5_1-4_1-7_0,9_4_3_Decode_String,43.0,StudentCSP,0,9
6997817,7007165,29315818,2018-10-31 18:42:01,7494,parsons,incorrect|-|0_1_2_3_0-6_0-4_0-5_0-7_0,9_4_3_Decode_String,43.0,StudentCSP,0,9
6997825,7007173,29315830,2018-10-31 18:42:03,7494,parsons,incorrect|-|0_1_2_3_0-6_0-5_0-4_0-7_0,9_4_3_Decode_String,43.0,StudentCSP,0,9
6997841,7007189,29315851,2018-10-31 18:42:07,7494,parsons,incorrect|5_0|0_1_2_3_0-6_0-4_0-7_0,9_4_3_Decode_String,43.0,StudentCSP,0,9
6997854,7007202,29315871,2018-10-31 18:42:12,7494,parsons,incorrect|-|0_1_2_3_0-6_0-4_0-5_0-7_0,9_4_3_Decode_String,43.0,StudentCSP,0,9
6997864,7007212,29315896,2018-10-31 18:42:16,7494,parsons,incorrect|-|0_1_2_3_0-4_0-6_0-5_0-7_0,9_4_3_Decode_String,43.0,StudentCSP,0,9
6997872,7007220,29315910,2018-10-31 18:42:18,7494,parsons,incorrect|-|0_1_2_3_0-4_0-5_0-6_0-7_0,9_4_3_Decode_String,43.0,StudentCSP,0,9
6997885,7007233,29315945,2018-10-31 18:42:23,7494,parsons,correct|-|0_1_2_3_0-4_0-5_1-6_1-7_0,9_4_3_Decode_String,43.0,StudentCSP,1,9
6999341,7008689,29320770,2018-10-31 19:08:29,7366,parsons,incorrect|-|0_0-3_0-2_0-1_1-4_0,7_3_4_Average,343.0,StudentCSP,0,7
6999360,7008708,29320816,2018-10-31 19:08:47,7366,parsons,incorrect|-|0_0-3_0-2_1-1_1-4_0,7_3_4_Average,343.0,StudentCSP,0,7
6999376,7008724,29320847,2018-10-31 19:08:57,7366,parsons,incorrect|-|0_0-3_0-2_0-1_1-4_0,7_3_4_Average,343.0,StudentCSP,0,7
6999405,7008753,29320915,2018-10-31 19:09:19,7366,parsons,incorrect|-|0_0-3_0-2_0-1_1-4_0,7_3_4_Average,343.0,StudentCSP,0,7
6999409,7008757,29320932,2018-10-31 19:09:30,7366,parsons,incorrect|-|0_0-3_0-2_0-1_1-4_0,7_3_4_Average,343.0,StudentCSP,0,7
6999467,7008815,29321069,2018-10-31 19:10:07,7366,parsons,correct|-|0_0-1_0-2_0-3_1-4_0,7_3_4_Average,343.0,StudentCSP,1,7
7000956,7010304,29325991,2018-10-31 19:38:29,7366,parsons,incorrect|-|0_0-1_0-2_1-3_1-4_0,7_5_3_Sum_100,343.0,StudentCSP,0,7
7000975,7010323,29326012,2018-10-31 19:38:32,7366,parsons,correct|-|0_0-1_0-2_0-3_1-4_0,7_5_3_Sum_100,343.0,StudentCSP,1,7
7001411,7010759,29326603,2018-10-31 19:40:23,7366,parsons,correct|5_0|0_0-1_0-2_0-3_1-4_0,7_5_5_Sum_From_50,343.0,StudentCSP,1,7
7001899,7011247,29327401,2018-10-31 19:42:34,7366,parsons,incorrect|-|0_0-1_0-3_0-2_0-4_1-5_0,7_6_1_Print-Sum-Evens,343.0,StudentCSP,0,7
7001934,7011282,29327466,2018-10-31 19:42:42,7366,parsons,incorrect|-|0_0-1_0-2_0-3_0-4_1-5_0,7_6_1_Print-Sum-Evens,343.0,StudentCSP,0,7
7001950,7011298,29327495,2018-10-31 19:42:47,7366,parsons,incorrect|-|0_0-1_0-2_0-5_0-4_1-3_0,7_6_1_Print-Sum-Evens,343.0,StudentCSP,0,7
7002116,7011464,29327740,2018-10-31 19:43:24,7366,parsons,incorrect|-|0_0-1_0-2_0-3_0-4_1-5_0,7_6_1_Print-Sum-Evens,343.0,StudentCSP,0,7
7002164,7011512,29327817,2018-10-31 19:43:38,7366,parsons,incorrect|-|0_0-1_0-2_0-3_1-4_1-5_0,7_6_1_Print-Sum-Evens,343.0,StudentCSP,0,7
7002192,7011540,29327868,2018-10-31 19:43:42,7366,parsons,incorrect|-|0_0-1_0-2_0-3_1-4_1-5_0,7_6_1_Print-Sum-Evens,343.0,StudentCSP,0,7
7002211,7011559,29327897,2018-10-31 19:43:46,7366,parsons,correct|-|0_0-1_0-2_0-3_1-4_1-5_1,7_6_1_Print-Sum-Evens,343.0,StudentCSP,1,7
7005680,7015028,29333776,2018-10-31 20:11:02,del580,parsons,correct|-|0_0-1_0-2_0-3_0,4_4_4_Poem,6.0,StudentCSP,1,4
7005690,7015038,29333811,2018-10-31 20:11:22,del580,parsons,correct|-|0_1_0-2_0-3_0-4_0-5_0,4_4_5_Story,6.0,StudentCSP,1,4

In [422]:
#testing it makes sense
test = log_file.loc[log_file['div_id'].str.startswith('21_1_1_impact', na=False) & log_file['event'].str.endswith('parsons', na=False)]
test.sid.unique().size

           div_id  sum  count
17  21_1_1_impact    0      3
          div_id  sum  count
5  21_1_1_impact    0      3
           div_id  sum  count
17  21_1_1_impact    0      5
           div_id  sum  count
17  21_1_1_impact    0      2
           div_id  sum  count
17  21_1_1_impact    0      6
          div_id  sum  count
8  21_1_1_impact    0      2
           div_id  sum  count
17  21_1_1_impact    0      2
Empty DataFrame
Columns: [div_id, sum, count]
Index: []
           div_id  sum  count
17  21_1_1_impact    0      5
Empty DataFrame
Columns: [div_id, sum, count]
Index: []
           div_id  sum  count
17  21_1_1_impact    0      3
           div_id  sum  count
11  21_1_1_impact    0      1
           div_id  sum  count
17  21_1_1_impact    0      2
           div_id  sum  count
11  21_1_1_impact    0      2
           div_id  sum  count
17  21_1_1_impact    0      1
Empty DataFrame
Columns: [div_id, sum, count]
Index: []

In [424]:
for e_name in exam_names:
    for e_score in exam_group_scores:
        for score in group_scores:
            print(p_score_totals[score,e_name, e_score][p_score_totals[score,e_name, e_score]['div_id'].str.startswith('21_1_1_impact', na=False)])

In [433]:
#multiple_choice
mc_logs = log_file.loc[log_file['event'].str.endswith('mChoice', na=False) 
                            & log_file['div_id'].str.match('[0-9]*_', na=False)
                           ]
mc_logs['mc_score'] = np.where(mc_logs['act'].str.endswith('correct', na=False), 1, 0)
mc_logs_unique_scores = mc_logs.groupby(['sid','div_id'])['mc_score'].min().reset_index()

In [432]:
m_c_score_groups = {}
for e_name in exam_names:
    for e_score in exam_group_scores:
        for score in group_scores:
            m_c_score_groups[score,e_name, e_score] = mc_logs_unique_scores[ mc_logs_unique_scores['sid'].isin(score_groups[score])
                                                        & mc_logs_unique_scores['sid'].isin(exam_score_groups[e_name, e_score])
                                                    ]
m_c_score_totals = {}
for e_name in exam_names:
    for e_score in exam_group_scores:
        for score in group_scores:
            m_c_score_totals[score,e_name, e_score] =  m_c_score_groups[score,e_name, e_score].groupby('div_id')['mc_score'].agg(['sum','count']).reset_index()

In [441]:
#unit test
ut_logs = log_file.loc[log_file['event'].str.endswith('unittest', na=False) 
                            # & log_file['div_id'].str.match('[0-9]*_', na=False)
                           ]
ut_logs['ut_score'] = np.where(ut_logs['act'].str.endswith('failed:1', na=False), 0, 1)
ut_logs_unique_scores = ut_logs.groupby(['sid','div_id'])['ut_score'].min().reset_index()

In [494]:
ut_score_groups = {}
for e_name in exam_names:
    for e_score in exam_group_scores:
        for score in group_scores:
            ut_score_groups[score,e_name, e_score] = ut_logs_unique_scores[ ut_logs_unique_scores['sid'].isin(score_groups[score])
                                                        & ut_logs_unique_scores['sid'].isin(exam_score_groups[e_name, e_score])
                                                    ]
ut_score_totals = {}
for e_name in exam_names:
    for e_score in exam_group_scores:
        for score in group_scores:
            ut_score_totals[score,e_name, e_score] =  ut_score_groups[score,e_name, e_score].groupby('div_id')['ut_score'].agg(['sum','count']).reset_index()

In [496]:
exam_arrays = {}
for e_name in exam_names:
    group_count = 0
    exam_array = [['combo_id','pretest','exam2','student_count','event','div','percent_correct']]
    for e_score in exam_group_scores:
        for score in group_scores:
            group_count = group_count + 1
            for div in m_c_score_totals[score,e_name, e_score].values:
                exam_array.append([group_count,score,e_score,div[2],'mchoice',div[0], div[1]/div[2] * 100])
            for div in p_score_totals[score,e_name, e_score].values:
                exam_array.append([group_count,score,e_score,div[2],'parsons',div[0], div[1]/div[2] * 100])
    exam_arrays[e_name] = exam_array

In [219]:
for key in exam_arrays:
    a = np.asarray(exam_arrays[key])
    np.savetxt("exam" + key + ".csv", a, delimiter=",",  fmt='%s')

                           div_id   sum  count
0                10_1_2_Rectangle    63    280
1                 10_2_2_Triangle   123    235
2             10_3_1_Turtle_Spiro    45    239
3    10_3_2_Turtle_Spiro_Blue_Red    98    194
4             10_4_1_turtle-stamp    13    204
5            10_4_2_turtle-circle    63    188
6                 10_5_1_turtle-x    24    188
7           10_5_2_turtle-squares    23    158
8          12_3_2_Price_By_Weight   153    416
9                 12_7_1_Even_Odd   172    265
10             13_4_1_string_elif   155    269
11            14_3_2_vert_stripes    22    141
12                16_9_1_rainfall     8     83
13        18_3_1_printInfoForCity    40    117
14                 18_4_1_maxPM25    33     71
15                 18_5_1_minPM25    41     65
16                   18_6_1_avg25    28     73
17                        2016Q4A   110    454
18                        2016Q4B    64    414
19                  21_1_1_impact     0     52
20                         2_swap   923   2904
21            3_6_1_Ketchup_Speed   315   1034
22          3_7_4_Per_Person_Cost   539   1004
23                     4_4_4_Poem   585    808
24                    4_4_5_Story   702    801
25                 5_1_1_Turtle_L   163    800
26             5_1_2_Turtle_Check   345    683
27                    5_2_1_DrawN   187    487
28                    5_2_1_DrawZ   264    527
29                 5_2_1_Turtle-T   202    649
..                            ...   ...    ...
154                     ch9ex3muc   268    458
155                     ch9ex4muc   245    454
156                     ch9ex5muc   231    447
157                     ch9ex6muc    62    425
158                     ch9ex7muc    20    414
159                     ch9ex8muc    18    389
160                     ch9ex9muc    47    382
161                  declareVars1  1481   2939
162                   fourthClass  2065   3121
163                        list_1   273    794
164                        list_2    51    763
165     midtermCopyNonWhitePixels     5     30
166             midtermCountEvens    20     35
167             midtermFiindMonth     4     20
168               midtermListInfo    15     35
169            midtermNumberGuess     6     29
170         midtermRegexCountSums     6     16
171      midtermSoupCountSpanNums     9     16
172         midtermTurtlePentagon    14     32
173                     oopex1muc   158    530
174                     oopex2muc   284    501
175                     oopex3muc   158    446
176                     oopex4muc   109    444
177                        pab_1r   840   1501
178                         pab_2   363   1574
179                         pab_3   351   1232
180                         pab_4   922   1183
181                   print_evens   393   1726
182                       removeA  1678   2057
183                    thirdClass  2255   3212

[184 rows x 3 columns]

sid                                                      skipped
.mpegasus                                                False       2
100                                                      False       4
100141153404816795579535188407282254798@69.255.125.35    False      10
101166874263566502338341270200684594126@207.238.139.2    False       1
101262661645038672184116268400260629454@168.187.165.77   False       9
101630450808278395732398414816340034510@178.86.241.11    False       8
1025859                                                  False       1
1048                                                     False       9
1090                                                     False       5
1091                                                     False       0
109770308493982268867051443969448952782@204.108.109.107  False      10
109871466372843502234798209890171175886@137.205.1.140    False      10
109913831543735069143626372138844505038@87.38.123.5      False       0
1119                                                     False       7
114                                                      False       9
114170301801165442948055265090881143758@100.11.37.154    False       6
115                                                      False       6
116558589813929226898517399943430489038@137.205.1.152    False      25
1170                                                     False      10
117577577419383973300471218272561480654@187.216.117.34   False       7
1183                                                     False       7
120                                                      False       4
121                                                      False       9
121606756022383861703959050725101880270@107.144.102.146  False       2
1231                                                     False       9
123553600237537373132252935003490698190@199.101.8.130    False       1
1247                                                     False       8
126043955148035160300223014852549100494@84.156.133.11    False       8
12630405886674851055986325052236973006@137.205.1.121     False      14
126486540133743503104581601049123701710@64.71.98.194     False      10
                                                                    ..
jermemy4519@gmail.com                                    False      11
jessicacrum03                                            False       0
jgutie7736                                               False       0
jholme2619                                               False       2
julia.endicott10                                         False      10
julianlopez08                                            False       4
ldsjock5511                                              False       4
lgood163                                                 False       1
llo51001                                                 False       6
magix430                                                 False      10
mherna4716                                               False       6
mr.wrightcgw                                             False       2
ncca2020                                                 False      11
npinon2747                                               False       0
paris202                                                 False       9
rbchettri1                                               False      11
rgarci8514                                               False       4
shoemakers09                                             False       8
siddarthsr117                                            False       8
usc_A_B233                                               False       0
usc_D_H060                                               False       5
usc_JKB019                                               False       7
usc_l_m085                                               False      11
usc_l_v021                                               False       0
usc_mjt032                                               False       1
usc_mmm020                                               False       5
usc_mrg013                                               False       9
xXricky0522Xx                                            False       3
zachm99                                                  False       5
zsjz18                                                   False      10
Name: pretest_score, Length: 1407, dtype: int32

In [42]:
students_total_score.head(50)

sid
.mpegasus                                                   18.181818
100                                                          0.000000
100141153404816795579535188407282254798@69.255.125.35       90.909091
101166874263566502338341270200684594126@207.238.139.2        9.090909
101262661645038672184116268400260629454@168.187.165.77      81.818182
101630450808278395732398414816340034510@178.86.241.11       72.727273
1025859                                                      9.090909
1048                                                        81.818182
104813990492753513044724130210587558862@168.9.38.4           0.000000
105781639377311585094026025284145464270@168.9.35.17          0.000000
106920695655384831772370930450577966030@121.6.133.134        0.000000
1090                                                        45.454545
1091                                                         0.000000
109770308493982268867051443969448952782@204.108.109.107     90.909091
109871466372843502234798209890171175886@137.205.1.140       90.909091
109913831543735069143626372138844505038@87.38.123.5          0.000000
1119                                                         9.090909
114                                                         81.818182
114170301801165442948055265090881143758@100.11.37.154       54.545455
115                                                         54.545455
116558589813929226898517399943430489038@137.205.1.152       72.727273
1170                                                        90.909091
117577577419383973300471218272561480654@187.216.117.34      63.636364
1183                                                        18.181818
120                                                         36.363636
121                                                         81.818182
121606756022383861703959050725101880270@107.144.102.146     18.181818
1231                                                        81.818182
123553600237537373132252935003490698190@199.101.8.130        9.090909
1247                                                        72.727273
126043955148035160300223014852549100494@84.156.133.11       72.727273
12630405886674851055986325052236973006@137.205.1.121        63.636364
126486540133743503104581601049123701710@64.71.98.194        90.909091
128885870265109183658173577758589010894@70.250.118.32       90.909091
130                                                         54.545455
132229602124856669806322197923155362766@203.29.104.10      100.000000
133317304718929885765913206224668804046@188.240.27.145      27.272727
134036192290231466608411338728695612366@168.9.35.17         27.272727
134377481782102750295911958539135042510@168.9.35.17          0.000000
134661785177443660883065005903133754318@108.28.57.84        63.636364
136337412546160726121297039667373491150@168.9.38.4           9.090909
138650794950590963792038670674532975566@50.200.42.106       54.545455
1389                                                        36.363636
140152                                                      81.818182
140892642167532499706806803378219467726@50.200.42.106        0.000000
14335365513099352111982871344396321742@168.221.221.117      36.363636
144                                                         90.909091
1442                                                        45.454545
1443                                                         0.000000
1444                                                        27.272727
Name: pretest_score, dtype: float64