In [2]:
# Render our plots inline
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                           'foo', 'bar'],
                    'B' : [1, 2, 3, 4, 5, 6],
                    'C' : [2.0, 5., 8., 1., 2., 9.]})

In [8]:
df

     A  B    C
0  foo  1  2.0
1  bar  2  5.0
2  foo  3  8.0
3  bar  4  1.0
4  foo  5  2.0
5  bar  6  9.0

In [29]:
grouped = df.groupby(['A'])

In [32]:
test = df.groupby(['A'])['B'].mean()

In [33]:
test

A
bar    4
foo    3
Name: B, dtype: int64

In [30]:
grouped

In [31]:
grouped.filter(lambda x: x['B'].mean() > 3.)

     A  B    C
1  bar  2  5.0
3  bar  4  1.0
5  bar  6  9.0